* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: #000;
    color: #fff;
    
}

.content {
    margin-inline: auto;
    width: 100%;
    height: 100vh;
    padding-inline: auto;
    max-width: 400rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}


/* textos */

h1 {
    font-size: 4rem;
    color: #fff;
    margin-top: 4rem;

}
.dados {
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    
    
    width: 100%;
    position: relative;
}

.dados h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 25rem;
}

.roll {
    width: 20rem;
    height: 18rem;
    display: inline;
    margin: 4rem;
    margin-block: 2rem;
    color: #000;

   
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 10rem;

    border-radius: 2rem;
}

#dado1 {
    display: none;

}

#dado1.dadob {
    display: flex;
    background: #20b2aa;
    
}

#dado2 {
    display: none;
    
}

#dado2.dadoa {
    background: #ffd700;
    display: flex;
    
}

/* BOTOES */

#btns {
    display: flex;
    align-items: center;
    justify-content: center;


    gap: 5rem;

    height: 7rem;
    width: 100%;
    margin-top: 10rem;

 
}

#btns button {
    width: 13rem;
    height: 4rem;
    text-align: center;
    padding: 1rem;
    color: #000;

    font-weight: bold;
    font-size: 1.6rem;

    border-radius: 0.8rem;
    cursor: pointer;

    border: none;
    margin-bottom: 2rem;
}

#btns button:nth-child(1) {
    background: #20b2aa;
}

#btns button:nth-child(2) {
    background: #ffd700;
}

#btns button:nth-child(3) {
    background: #fff;
}

@media (max-width: 560px) {
    .dados h2 {
        top: 42rem;
        margin-inline: auto;
    }
    .dados {
        position: initial;
        margin-top: -5rem;
         
        display: flex;
       
    }

    #btns {
       flex-wrap: wrap;
       gap: 1rem;
    }

    

    .roll {
        width: 18rem;
        height: 15rem;
        font-size: 4rem;
    }

    .dados {
        margin-bottom: 4rem;
    }
}